/* styles/Contact.module.css */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

button {
    padding: 5px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}
